header {
    padding: 1rem;
    img {
        cursor: pointer;
        display: inline-block;
        &:hover {
            filter: opacity(0.75);
        }
    }
    img:nth-of-type(2) {
        float: right;
    }
}