main {
    padding: 0 1rem;

    h1 {
        color: black;
        font-size: 1.2rem;
        font-weight: 900;
        margin-bottom: 0.5rem;
    }


    h2 {
        font-size: 1.25rem;
        font-weight: 200;
    }
    
    p {
        color: black;
        font-weight: bold;
        font-size: 0.8rem;
        padding: 0.5rem 0;
    }
}