@import url("https://use.typekit.net/mdk1rbk.css");

:root {
    --green: #00a562;
    --orange: #fdc006;
    --grey: #777;
    color: #777;
    font-family: aktiv-grotesk, sans-serif;
    line-height: 1.5;
}